name = "tksports-api"
main = "worker.js"
compatibility_date = "2024-12-01"

compatibility_flags = ["nodejs_compat"]

[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true

[vars]
# MJ_APIKEY_PUBLIC = ""
# MJ_APIKEY_PRIVATE = ""
